:root{
    --primary-color: #d0f4e4;
    --secundary-color: #66cdff;
    --fondo-color: #fdfefd;
    --logo-color: #48e;
    --leter-color: #343a40;
    --accion--color: #ffc107;
}
body{
    background-image: linear-gradient(to bottom,var(--primary-color), var(--secundary-color));
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.form__content{
    width: 90%;
    max-width: 1000px;
    height: 100%;
    background-color: var(--fondo-color);
    display: flex;
    flex-direction: column;
    margin: auto;
    container-type: inline-size;
    container-name: form;
    margin-top: 3%;
    margin-bottom: 3%;
}
.title{
    margin-top: 3%;
    margin-left: 3%;
    color: var(--leter-color);
}
label{
    font-size: 1.1em;
}
#section__information{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5%;    
    container-type: inline-size;
    container-name: information;
}
.content___information{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.h3__modal{
    margin-bottom: 5%;
    color: var(--leter-color);
    margin-top: 3% ;
}
.plantilla__container{
    margin: auto;
    width: 80%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}
.servic__container{
    margin: auto;
    width: 80%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}
.input__contact{
    width: 90%;
    height: 3em;
    background-color: #f5f5f5;
    border: none;
    margin-bottom: 3%;
    outline: none;
}
.-contact{
    width: 60%;
}
.email__container{
    display: flex;
    flex-direction: column;
}
.phone__container{
    display: flex;
    flex-direction: column;
}
.checkbox__container{
    margin-top: 2%;
}
.objetivos{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.label__otros{
    margin-top: 3%;
}
.flex{
    display: flex;
    flex-direction: column;
}
.styles{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 3%;
}
.hosting{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 10%;
}
.btn__container{
    margin-left: 50%;
}
.btn__submit{
    margin: auto;
    margin-bottom: 10%;
    width: 100px;
    height: 1.7em;
    background-color: var(--logo-color);
    color: var(--fondo-color);
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
}
.btn__submit:hover{
    color: var(--accion--color);
    background-color: #44e;
}
.btn__cancel{
    margin: auto;
    margin-bottom: 10%;
    width: 100px;
    height: 2em;
    background-color: transparent;
    color: #0009;
    border: none;
    font-size: 1.1em;
}
.btn__cancel:hover{
    color: var(--accion--color);
}
a{
    margin-top: 5%;
    font-size: 1.1em;
    color: var(--leter-color);
}
.-select2{
    width: 73%;
    margin: auto;
    margin-left: 9%;
}
.-select{
    width: 73%;
    margin: auto;
    margin-left: 9%;
    margin-top: 5%;
}
.span{
    width: 80%;
    margin-bottom: 5%;
    color: var(--leter-color) ;
    font-size: 1.1em;
}
.Whatsapp{
    width: 50px;
    height: 1.8em;
    font-size: 2em;
    margin-bottom: 5%;
    background-color: transparent;
    border: none;
    color: #075e54;
}
.Whatsapp:hover{
    color: #128c7e;
    font-size: 2.5em ;
}

/*modelos----------------------------------------------------------------------------------------*/

.grid{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(230px,1fr));
    gap: 20px;
    margin: auto;
}
.item__grid img{
    width: 100%;
    height: auto;
    display: block;
}
.btn__model{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.plantilla{
    margin-top: 2%;
    width: 80px;
    max-width: 120px;
    height: 2em;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: var(--leter-color);
    font-size: 1em;
}
.plantilla:hover{
    background-color: var(--logo-color);
    color: var(--fondo-color);
}
.seleccionar{
    margin-top: 2%;
    width: 80px;
    max-width: 120px;
    height: 2em;
    background-color: var(--logo-color);
    border: none;
    border-radius: 5px;
    color: var(--fondo-color);
}
.seleccionar:hover{
        background-color: var(--accion--color);
        color: var(--fondo-color);
}
.title__section{
    color: var(--leter-color);
    font-size: 1.5em;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    font-weight: 800;
}
.escondido{
    display: none;
}


@container form (min-width: 1000px){
    #section__information{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 4px solid #ededed;
        border-top: 4px solid #ededed;
        padding-top: 10px;
    }
    .content__information{
        width: 60%;
    }
    .objetivos{
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 4px solid #ededed;
        padding-top: 10px;
    }
    .content__objetivos{
        width: 60%;
    }
    .styles{
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 4px solid #ededed;
        padding-top: 10px;
    }
    .content__styles{
        width: 60%;
    }
    .-whatsapp-container{
        flex-direction: row;
    }
    .hosting{
        flex-direction: row;
        justify-content: space-between;
    }
    .content__hosting{
        width: 60%;
    }
}


